<form class="form-horizontal" autocomplete="off" #createForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'CreateNewOrder' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-2 col-form-label">{{ "Customers" | localize }}</label>
      <div class="col-md-4">
        <ng-select
          [fixedPlaceholder]="false"
          [items]="customers"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="order.customerId"
          name="customerId"
          [placeholder]="'SelectCustomer' | localize"
          appendTo="body"
          [clearable]="true"
          required
        ></ng-select>
      </div>
      <label class="col-md-2 col-form-label">{{ "OrderDate" | localize }}</label>
      <div class="col-md-4">
        <input type="date" class="form-control" name="orderDate" required [(ngModel)]="order.orderDate" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label">{{ "Notes" | localize }}</label>
      <div class="col-md-10">
        <input type="text" class="form-control" name="notes" maxlength="512" [(ngModel)]="order.notes" />
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-2">
      <h5 class="mb-0">{{ "Products" | localize }}</h5>
      <button type="button" class="btn btn-sm bg-blue" (click)="addLine()">
        <i class="fa fa-plus"></i> {{ "AddLine" | localize }}
      </button>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <th>{{ "Products" | localize }}</th>
            <th style="width: 120px;">{{ "Quantity" | localize }}</th>
            <th style="width: 140px;">{{ "UnitPrice" | localize }}</th>
            <th style="width: 120px;">{{ "LineTotal" | localize }}</th>
            <th style="width: 60px;"></th>
          </tr>
        </thead>
        <tbody>
          @for (line of order.lines; track $index; let i = $index) {
          <tr>
            <td>
              <ng-select
                #lineProductSelect
                [fixedPlaceholder]="false"
                [items]="products"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="line.productId"
                (ngModelChange)="onProductSelected(line)"
                [name]="'productId' + i"
                [placeholder]="'SelectProduct' | localize"
                appendTo="body"
                [clearable]="true"
                required
              >
                <ng-template ng-label-tmp let-item="item">
                  {{ item.name }} ({{ "StockQuantity" | localize }}: {{ item.stockQuantity || 0 }})
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{ item.name }} ({{ "StockQuantity" | localize }}: {{ item.stockQuantity || 0 }})
                </ng-template>
              </ng-select>
            </td>
            <td>
              <input type="number" class="form-control" [name]="'quantity' + i" min="0.01" step="0.01" required [(ngModel)]="line.quantity" />
            </td>
            <td>
              <input
                type="number"
                class="form-control"
                [name]="'unitPrice' + i"
                min="0"
                step="0.01"
                required
                [(ngModel)]="line.unitPrice"
                (keydown.tab)="onUnitPriceTab($event, i)"
              />
            </td>
            <td class="align-middle">{{ lineTotal(line) }}</td>
            <td class="align-middle text-center">
              <button type="button" class="btn btn-sm btn-danger" (click)="removeLine(i)" [disabled]="order.lines.length === 1">
                <i class="fas fa-times"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
        <tfoot>
          <tr>
            <th colspan="3" class="text-right">{{ "TotalAmount" | localize }}</th>
            <th>{{ grandTotal }}</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" [disabled]="saving" (click)="bsModalRef.hide()">
      {{ "Cancel" | localize }}
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="!createForm.form.valid || saving">
      <i class="fa fa-save"></i>
      <span>{{ "Save" | localize }}</span>
    </button>
  </div>
</form>
