<div class="card">
    <div class="flex align-items-center justify-content-between mb-3">
        <div>
            <h5 class="m-0">Product Settings</h5>
            <div class="text-500 mt-1">Manage brands, units, and categories</div>
        </div>
    </div>

    <p-tabView
        *ngIf="tabOrderHasTabs"
        [activeIndex]="activeIndex"
        (activeIndexChange)="onTabChange($event)"
    >
        <p-tabPanel *ngIf="canBrands" header="Brands">
            <app-brand-list [embedded]="true"></app-brand-list>
        </p-tabPanel>

        <p-tabPanel *ngIf="canUnits" header="Units">
            <app-unit-list [embedded]="true"></app-unit-list>
        </p-tabPanel>

        <p-tabPanel *ngIf="canCategories" header="Categories">
            <app-category-list [embedded]="true"></app-category-list>
        </p-tabPanel>
    </p-tabView>

    <div *ngIf="!tabOrderHasTabs" class="text-500 p-4 text-center">
        You do not have permission to manage brands, units, or categories.
    </div>
</div>
