<form class="form-horizontal" autocomplete="off" #createForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'CreateNewLedgerEntry' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="accountId">{{ "Accounts" | localize }}</label>
      <div class="col-md-9">
        <ng-select [fixedPlaceholder]="false"
          [items]="accounts"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="entry.accountId"
          name="accountId"
          id="accountId"
          [placeholder]="'SelectAccount' | localize"
          appendTo="body"
          [clearable]="true"
          required
          #accountModel="ngModel"
          #accountEl
        >
          <ng-template ng-label-tmp let-item="item">
            {{ item.name }} ({{ item.accountType }})
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{ item.name }} ({{ item.accountType }})
          </ng-template>
        </ng-select>
        <abp-validation-summary [control]="accountModel" [controlEl]="accountEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="transactionDate">{{ "TransactionDate" | localize }}</label>
      <div class="col-md-9">
        <input type="date" class="form-control" name="transactionDate" id="transactionDate" required [(ngModel)]="entry.transactionDate" />
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="voucherType">{{ "VoucherType" | localize }}</label>
      <div class="col-md-9">
        <ng-select [fixedPlaceholder]="false"
          [items]="voucherTypes"
          bindLabel="label"
          bindValue="value"
          [(ngModel)]="entry.voucherType"
          name="voucherType"
          id="voucherType"
          [placeholder]="'VoucherType' | localize"
          appendTo="body"
          [clearable]="true"
          required
        ></ng-select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="debit">{{ "Debit" | localize }}</label>
      <div class="col-md-9">
        <input type="number" class="form-control" name="debit" id="debit" step="0.01" min="0" [(ngModel)]="entry.debit" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="credit">{{ "Credit" | localize }}</label>
      <div class="col-md-9">
        <input type="number" class="form-control" name="credit" id="credit" step="0.01" min="0" [(ngModel)]="entry.credit" />
      </div>
    </div>
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label" for="description">{{ "Description" | localize }}</label>
      <div class="col-md-9">
        <textarea class="form-control" name="description" id="description" maxlength="512" rows="2" [(ngModel)]="entry.description"></textarea>
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createForm.form.valid || saving" (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
