<form class="form-horizontal" autocomplete="off" #createForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'CreateNewCustomer' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">{{ "Name" | localize }}</label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="name" id="name" maxlength="128" required [(ngModel)]="item.name" #nameModel="ngModel" #nameEl />
        <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="customerType">{{ "CustomerType" | localize }}</label>
      <div class="col-md-9">
        <select class="form-control" name="customerType" id="customerType" required [(ngModel)]="item.customerType">
          <option [ngValue]="0">{{ "CustomerTypeDirect" | localize }}</option>
          <option [ngValue]="1">{{ "CustomerTypeWholesaler" | localize }}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="phone">{{ "Phone" | localize }}</label>
      <div class="col-md-9"><input type="text" class="form-control" name="phone" id="phone" maxlength="32" [(ngModel)]="item.phone" /></div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="email">{{ "EmailAddress" | localize }}</label>
      <div class="col-md-9"><input type="email" class="form-control" name="email" id="email" maxlength="256" [(ngModel)]="item.email" /></div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="address">{{ "Address" | localize }}</label>
      <div class="col-md-9"><textarea class="form-control" name="address" id="address" maxlength="512" rows="2" [(ngModel)]="item.address"></textarea></div>
    </div>
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label" for="description">{{ "Description" | localize }}</label>
      <div class="col-md-9"><textarea class="form-control" name="description" id="description" maxlength="512" rows="2" [(ngModel)]="item.description"></textarea></div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createForm.form.valid || saving" (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
