<form class="form-horizontal" autocomplete="off" #createForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'CreateNewExpense' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="expenseDate">{{ "ExpenseDate" | localize }}</label>
      <div class="col-md-9">
        <input type="date" class="form-control" name="expenseDate" id="expenseDate" required [(ngModel)]="expense.expenseDate" />
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="paymentAccountId">{{ "PaymentAccount" | localize }}</label>
      <div class="col-md-9">
        <ng-select [fixedPlaceholder]="false"
          [items]="paymentAccounts"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="expense.paymentAccountId"
          name="paymentAccountId"
          id="paymentAccountId"
          [placeholder]="'SelectPaymentAccount' | localize"
          appendTo="body"
          [clearable]="true"
          required
        >
          <ng-template ng-label-tmp let-item="item">
            {{ item.name }} ({{ item.accountType }})
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{ item.name }} ({{ item.accountType }})
          </ng-template>
        </ng-select>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="amount">{{ "Amount" | localize }}</label>
      <div class="col-md-9">
        <input type="number" class="form-control" name="amount" id="amount" min="0.01" step="0.01" required [(ngModel)]="expense.amount" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="referenceNo">{{ "ReferenceNo" | localize }}</label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="referenceNo" id="referenceNo" maxlength="64" [(ngModel)]="expense.referenceNo" />
      </div>
    </div>
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label" for="description">{{ "Description" | localize }}</label>
      <div class="col-md-9">
        <textarea class="form-control" name="description" id="description" maxlength="512" rows="2" [(ngModel)]="expense.description"></textarea>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
